<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="header-section">
    <app-header class="header"></app-header>
    <mat-tab-group class="nav-bar">
        <mat-tab (click)="this.tab=0" label="Tournaments"></mat-tab>
        <mat-tab (click)="this.tab=1" label="Rules"></mat-tab>
        <mat-tab (click)="this.tab=2" label="About"></mat-tab>
        <mat-tab >
            <ng-template mat-tab-label>
                <p (click)="logOut()">
                    Log out
                </p>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
    <div class='cash'>
        <mat-icon class='icon'>money</mat-icon>
        <p>
            {{this.authDataStorage.getLoggedUser().moneyAmount}}
        </p>
    </div>
    <div class='logout'>
        <p (click)="logout()">
            Log out
        </p>
    </div>

</div>
<div class="tournaments">
    <app-tournaments></app-tournaments>
    <button mat-fab class="add-button" matTooltip="New game" (click)=addGame()>
        <mat-icon>add</mat-icon>
    </button>
</div>