@import "../../../assets/home-theme.scss";
.header-section{
    height: 500px;
    position: absolute;
    width:100%;
    background-image: url("../../../assets/images/ann.jpg");
    background-size: cover;

}
.header{
    margin-top: 100px;
    width: 100%;
    position: inherit;
}

.nav-bar{
    background-color:$dark-blue;
    margin-top: 300px;
    width: 100%;
    height:50px;
}
.tournaments{
    background-color: white;
    margin-top: 500px;
    position: absolute;
    width:100%;
}
.add-button{
    background-color: $blue;
    color: white;
    bottom: 15px;
    right: 25px;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    position: fixed;
    z-index: 100;
}
.icon{
    margin-top: 20px;
}
.cash{
    width:40px;
    display:flex;
    align-items: stretch;
    z-index: 10000;
    position: absolute;
    top: 58.6%;
    color: #93a0ae;
    left: 80%;
    font-size: 20px;
    font-family: 'Russo One';
}
.logout{
    z-index: 10000;
    position: absolute;
    font-size: 20px;
    top: 58.4%;
    color: #93a0ae;
    left: 92%;
    font-family: 'Russo One';
}