@import "../../../assets/home-theme.scss";
.header-section{
    height: 500px;
    position: absolute;
    width:100%;
    background-image: url("../../../assets/images/ann.jpg");
    background-size: cover;

}
.header{
    margin-top: 100px;
    width: 100%;
    position: inherit;
}

.nav-bar{
    background-color:$dark-blue;
    margin-top: 300px;
    width: 100%;
    height:50px;
}
.tournaments{
    background-color: white;
    margin-top: 500px;
    position: absolute;
    width:100%;
}
.add-button{
    background-color: $blue;
    color: white;
    bottom: 15px;
    right: 25px;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    position: fixed;
    z-index: 100;
}

.amount{
    font-size: 20px;
    margin-top: -28px;
    margin-left: 60%;
    font-family: 'Russo One';
}
.cash{
    z-index: 10000;
    position: absolute;
    top: 314px;
    color: #98A9B4;
    left: 80%;
    
}
.logout{
    z-index: 10000;
    position: absolute;
    font-size: 20px;
    margin-top: 314px;
    color: #98A9B4;
    margin-left: 870px;
    font-family: 'Russo One';
}