<div class="rules">
  <h1 class="title">Rules</h1>
  <div class="rule-content">
    <h2 class='header'>Entering a game</h2>
    <div class="group">
      <p>Every game has an entrance fee of 50$.</p>
      <p>You cannot enter a game if your credit is less than 60$ (a minimum of 10$ is considered for the blind bet).</p>
    </div>
    <h2 class='header'>Blind round</h2>
    <div class="group">
        <p>You have to place the blind bet. Given that this poker game is based on Limit Texas Hold'Em, you have \n 3 options for the blind, the same as for raise: 10$, 50$ and 100$.</p>
        <p>After you've placed the blind bet, the robots will start betting too.</p>
        <p>You can inly fold after the blind round.</p>
    </div>
    <h2 class='header'>Flop round</h2>
    <div class="group">
        <p>The flop (the first 3 cards on the table) are now flipped.</p>
        <p>Once it's your turn, you will start the second round of betting. As in classic poker, you can choose to fold, check or raise.</p>
        <p>If you fold, the money that were previously bet will be lost.</p>
    </div>
    <h2 class='header'>Turn round</h2>
    <div class="group">
        <p>The turn (the fourth cards on the table) is now flipped.</p>
        <p>Bets continue normally, as stated before.</p>
    </div>
    <h2 class='header'>River round</h2>
    <div class="group">
        <p>All the community cards are now visible. This is the last round of betting, after which the winner will be chosen.</p>
        <p>All remaining players' hands are evaluated and the one with the highest rank wins.</p>
        <p>The winner takes the pot.</p>
    </div>
  </div>
</div>