@import "../../../assets/home-theme.scss";
.title{
    color:$dark-blue;
    font-size: 35px;
    font-family: "Russo One";
    text-decoration-line: underline;
    text-align: center;
    padding-bottom: 50px;
}

.rule-content{
    margin-left:100px;
    width:100%;
}
