@import "../../../assets/home-theme.scss";
.rules{
    width:100%;
}
.title{
    color:$dark-blue;
    font-size: 35px;
    font-family: "Russo One";
    text-decoration-line: underline;
    text-align: center;
    padding-bottom: 50px;
}

.rule-content{
    margin-left:100px;
    width:100%;
}

.header{
    color:$dark-blue;
    font-size: 30px;
    font-family: "Russo One";
    margin-left: 10%;
    margin-bottom: 2%;
}

.group{
    color:$blue;
    font-size: 20px;
    font-family: "Russo One";
    margin-left: -2%;
    margin-right: 7%;
    margin-bottom: 5%;
}
