@import "../../../assets/home-theme.scss";
.body{
    position:fixed;
    margin:0;
    padding:0;
    border:0;
    width:100%;
    height:100%;
    background-image: url("../../../assets/images/final3.png");
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
  }
.buttons{
    display: flex;
    bottom: 0px;
    position: absolute;
    width:100%;
}
.btn{
    font-size: 30px;
    font-family: Russo One;
    color: #fff;
    margin-top: 15px;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 60%;
    height: 70px;
    background-color: $dark-blue;
    border-radius: 3px;
    cursor: pointer;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  .btn:hover{
        background-color: $dark-blue-hover;
  }

  .btn:disabled{
    font-size: 30px;
    font-family: Russo One;
    color: #fff;
    margin-top: 15px;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 60%;
    height: 70px;
    background-color: $dark-blue;
    border-radius: 3px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .history{
      width:400px;
      height:600px;
      background: $light-grey;
      right:10px;
      bottom:70px;
      position: absolute;
  }
  .header{
      font-family: Russo One;
      font-size:30px;
      color:$dark-blue;
  }

.flop{
    margin-top: 215px;
    margin-left:375px;
    height:200px;
    width:420px;
    justify-content: space-between;
    display: flex;
}

.card{
    height:115px;
    width:80px;
    background-color: white;
    border-radius: 10px;
}
.cardNo{
    font-size: 20px;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: bold;
    font-family: 'Russo One';
    height: 20px;
    
}

.suit{
    height: 30px;
    width:30px;
    place-content: center;
    margin-left: 24px;
}
.hand{
    justify-content: space-between;
    display: flex;
    height: 150px;
    width: 250px;
    margin-top: 140px;
    margin-left: 30px;
}

.player-card{
    height: 100px;
    width: 120px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: white;
}

.cardNo2{
    font-size: 30px;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: bold;
    font-family: 'Russo One';
    height: 18px;
    
}

.suit2{
    height: 50px;
    width: 50px;
    place-content: center;
    margin-left: 32px;
    margin-top: 5px;
}

.pot{
    margin-top:10px;
    margin-left:15px;
    font-size:25px;
    font-family: "Russo One";
    color:white;
}

.card-color{
    height: 90%;
    width:90%;
    background-color: $blue;
    border-radius: 10px;
    margin-left: 5.8px;
    margin-top: 5px;
}

.card-icon{
    width:60px;
    height: 60px;
    margin-top:40%;
    margin-left:20%;
}
.small-card-icon{
    width: 40px;
    height: 40px;
    margin-top: 50%;
    margin-left: 20%;
}

.small-card-color{
    height: 90%;
    width: 90%;
    background-color: $blue;
    border-radius: 10px;
    margin-left: 4px;
    margin-top: 5px
}

.action-list{
    margin-left: 5%;
    overflow-y: scroll;
    margin-top: 10%;
    height: 540px;
    width: 99%;
    
}

.action{
    font-family: 'Russo One';
    font-size: 20px;
    color:#031D42;
    margin-bottom:2%;
}

.dialog-in{
    animation: mt1 0.5s ease;
    margin-top:-3.2%;
} 
.dialog-out{
    animation: mt2 0.5s ease;
    margin-top:-9.8%;
} 
@keyframes mt1{
    from{
        margin-top: -9.8%;
    }
    to{
        margin-top: -3.2%;
    }
}
@keyframes mt2{
    from{
        margin-top: -3.2%;
    }
    to{
        margin-top: -9.8%;
    }
}

.bet{
    width:30%;
    height:100%;
    font-family: 'Russo One';
    font-size: 15px;
    font-weight: bold;
    color:black;

}
.raise-buttons {
    display: flex;
    justify-content: space-between;
    margin-left:29.5%;
    z-index:100;
    height: 100px;
    background-color: white;
    width: 250px;
    border-radius: 10px;
    text-align: center;
  }
.chips{
    height:30px;
}
.amount {
    width: 80%;
    margin-top: 6.5%;
  }

  .currBet{
      z-index: 555;
      position: absolute;
      margin-left:15px;
      margin-top: -1.5%;
      font-size:25px;
      font-family: "Russo One";
      color:white;
  }
